.app__specialMenu{
    flex-direction: column;
    background: var(--color-black);

}
.app__specialMenu-title{
    margin-bottom:2rem;
    text-align: center;

}
.app__specialMenu-menu{
    width: 100%;

    margin:2rem 0 ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

}
.app__specialMenu_menu_heading{
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: .04em;
    color: var(--color-white);
}
.specialMenu-menu_wine,
.specialMenu-menu_cocktails{
    flex: 1;
    flex-direction: column;
    width: 100%;
}
.specialMenu-menu_wine-img{
    width: 410px;
    margin: 0 2rem;
}
.specialMenu-menu_wine-img img{
    width: 100%;
    height: auto;
}

.app__specialMenu-menu-item{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 2rem 0;
}
